@import "../assets/scss/variables";

main {
  background: linear-gradient(0deg, rgba($white, 0.1), rgba($white, 0.1)),
    url("../assets/images/background.png");
  background-size: cover;

  & .languages {
    text-transform: uppercase;
    position: absolute;
    background-color: $black;
    color: $white;
    right: 1rem;
    top: 1rem;

    &__separator {
      color: $grey;
    }

    &--selected {
      color: $red;
      font-weight: bold;
      transition: 0.5s;
    }

    & > span:not(.languages__separator) {
      cursor: pointer;
    }
  }
}
