@import "../../../assets/scss/variables";

.personal-works {
  &__name {
    color: $red;
  }

  &__content {
    color: $grey;
  }

  &__image img {
    cursor: pointer;
  }
}

a {
  color: $red !important;
  text-decoration: none;
}
