<div class="company-experience-info pt-3">
  <img
    *ngIf="companyExperienceInfo.urlImage; else companyNameTmpl"
    src="{{ companyExperienceInfo.urlImage }}"
    [style.max-width]="'175px'"
  />
  <ng-template #companyNameTmpl>
    <h4 class="company-experience-info__company mt-2 mb-0">
      {{ companyExperienceInfo.company }}
    </h4>
  </ng-template>
  <p class="mt-3 mb-0">
    <span class="small"
      >{{ companyExperienceInfo.date }}
      <span *ngIf="isFirstndex">{{
        "experience.currently" | translate
      }}</span></span
    >
  </p>
  <p class="small mb-0">
    {{ companyExperienceInfo.description | translate }}
  </p>
  <p class="small mb-0">
    {{ "experience.technologies" | translate }}:
    <span
      *ngFor="let tech of companyExperienceInfo.technologies"
      class="badge text-bg-light mx-1 mb-1"
      >{{ tech }}</span
    >
  </p>
  <hr />
</div>
