<div class="skills px-2 py-3">
  <h3>
    <i class="bi bi-bar-chart d-none d-lg-inline me-2"></i>
    <span class="">{{ "skills.title" | translate }}</span>
  </h3>
  <div class="skills__container py-2 row">
    <h5 class="skills__title mb-0">
      <i class="bi bi-window-sidebar me-2"></i>
      {{ "skills.technical" | translate }}
    </h5>
    <div class="col-12 col-sm-6">
      <div *ngFor="let skill of info.skills.slice(0, 6)" class="mt-3">
        <p class="m-0 small">{{ skill.name }}</p>
        <div
          class="progress"
          role="progressbar"
          [attr.aria-label]="skill.name"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div
            class="progress-bar"
            [style.width]="skill.percentage + '%'"
            [style.maxWidth]="skill.percentage + '%'"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div *ngFor="let skill of info.skills.slice(6, 12)" class="mt-3">
        <p class="m-0 small">{{ skill.name }}</p>
        <div
          class="progress"
          role="progressbar"
          [attr.aria-label]="skill.name"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div
            class="progress-bar"
            [style.width]="skill.percentage + '%'"
            [style.maxWidth]="skill.percentage + '%'"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="skills__container py-2 row">
    <h5 class="skills__title mb-0">
      <i class="bi bi-suitcase-lg me-2"></i>
      {{ "education.languages" | translate }}
    </h5>
    <div *ngFor="let language of info.languages" class="col-12 col-sm-6 mt-3">
      <p class="m-0 small">{{ language.name | translate }}</p>
      <div
        class="progress"
        role="progressbar"
        [attr.aria-label]="language.name"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          class="progress-bar"
          [style.width]="language.percentage + '%'"
          [style.maxWidth]="language.percentage + '%'"
        ></div>
      </div>
    </div>
  </div>
  <hr />
</div>
