@import "../../../assets/scss/variables";

.skills {
  &__title {
    color: $grey;
  }

  & .progress {
    background-color: $grey;
    max-height: 5px;
  }

  & .progress-bar {
    background-color: $red;
    animation: progress 1.5s ease-in-out forwards;
  }
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
