<div class="experience px-2 py-3">
  <h3>
    <i class="bi bi-bar-chart-steps d-none d-lg-inline me-2"></i>
    {{ "experience.title" | translate }}
  </h3>
  <div class="experience__timeline d-none d-md-block mt-4 mb-2">
    <ul
      class="experience__progressbar d-flex flex-column flex-md-row justify-content-between w-100 m-0 p-0"
    >
      <li
        *ngFor="let experience of info.experiences; let isFirstndex = first"
        [class.active]="experience.id === companyExperienceInfo.id"
        (click)="showCompanyInfo(experience.id, isFirstndex)"
      >
        {{ experience.company }}
      </li>
    </ul>
  </div>
  <app-company-experience-info
    class="d-none d-md-block px-5"
    [companyExperienceInfo]="companyExperienceInfo"
    [isFirstndex]="isFirstndex"
  ></app-company-experience-info>
  <app-company-experience-info
    *ngFor="let companyInfo of info.experiences; let isFirstndex = first"
    class="d-block d-md-none"
    [companyExperienceInfo]="companyInfo"
    [isFirstndex]="isFirstndex"
  ></app-company-experience-info>
</div>
